/* body{
    background-color: rgb(238, 238, 238);
	justify-content: center;
	align-items: center;
}


.cards-layout{
    border: 1px;
    border-radius: 0.5rem;
    background-color: white;
    align-self: start;
    justify-self: end;
}
img{
    object-fit: none;
    max-width: 100%;
}

.masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
    

	 grid-auto-rows: auto;
	grid-auto-flow: dense;  
}

.masonry1 {
    grid-row-end: span 4;
}
.masonry2 {
    grid-row-end: span 3;
}
.masonry3 {
    grid-row-end: span 1;
}
.masonry4 {
    grid-row-end: span 3;
}
align-self: start;
justify-self: end;   */

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
 }
 
 .photo {
    grid-row-end: span 2;
 }
 .project {
    grid-row-end: span 3;
 }
 .blog {
    grid-row-end: span 1;
 }
 
 /* Non-grid specific CSS */  
 body {
   margin: 10px;
     color: #374046;
     background-color: #374046;
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 1.15em;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
 }
 
 .item {
   background-color: #ffffff;
 }
 
 .photothumb{
   width: 100%;
 }
 
 .title {
   padding: 20px;
  }
 
 .title h3{
   font-size: 1.2em;
   color: #ffffff;
   text-transform: uppercase;
 }
 
 .project .title{
   background-color: #607D8B;
 }
 
 .blog .title{
   background-color: #ff9800;
 }
 
 .photo .title{
   background-color: #f44336;
 }
 
 .desc{
   padding: 10px 10px 5px 10px;
 }
 
 .desc img{
   width: 50%;
   margin: 0 10px 10px 0;
   float: left;
 }
 
 .desc p{
   margin-bottom: 10px;
 }